@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tùy chỉnh thanh cuộn cho đẹp, gọn gàng hơn mặc định */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; 
}